# Virtual environment
venv/

# Game binary
iso/

# Generated ROM
config/SLUS_204.69.rom

# Build output
build/
expected/

# Dependency files
*.d

# Python
__pycache__/
*.pyc
build.ninja
objdiff.json
config/SLUS_204.69.ld
